{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}
{% block body %}

<H1>ABOUT US</H1>
<H2><P>At Easyfit, we make fitness fun and easy. We have best-in-class trainers and offer group workouts ranging from yoga to Boxing. </p>
    <p>Our workouts can be done both at a cult center and at home with the help of do it yourself (DIY) workout videos. </p>
    <p>Easyfit uses the best in technology to give you a world-class experience. </p>
    <p>You can book classes, - all with the click of a button from the Easyfit website. </p>
 </H2>

{% endblock body %}
